
<div class="container">
  <div class="row">
    <div class= "col-lg-12 text-center">
      <h1>CHECKOUT</h1>
      <h3> Your total is: {{total() / 100 | currency}}</h3>
    </div>
  </div>


<div class="row">
  <div class= "col-lg-12 text-center table">
    <div class="table-responsive">
      <h1>Cart</h1>
      <table class="table">
        <thead>
          <th> Name </th>
          <th> Amount</th>
          <th>Price</th>
          <th> Subtotal</th>
        </thead>
        <tbody>
          <tr ng-repeat="tea in teaItems" ng-if="tea.qty > 0">
              <td>{{ tea.name }}</td>
              <td>
              <input type="number" name="quantityOrder" ng-model="tea.qty"/>
              </td>
              <td>{{ tea.price / 100 | currency }}</td>
              <td> Subtotal: {{(tea.price / 100) * (tea.qty) | currency }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>