<div class="row">
  <div class= "col-lg-4">
    <label>Search by name: <input ng-model="searchText.name"></label>
  </div>

  <div class= "col-lg-4">
    <h1> Brea's Tea Shop! </h1>
  </div>

  <div class= "col-lg-4">
    <label for="{{category}}">Search By Category
    <select ng-model="searchText.categories">
      <option ng-repeat="category in categories" id="{{category}}">{{ category }}</option>
    </select>
    </label>
  </div>
</div>

  <div class="row" ng-repeat="tea in teas | orderBy: sort | filter: searchText">
    <div class="col-lg-6">
      <h2>{{tea.name}}</h2>
      <img ng-src="{{tea.imageUrl}}">
      <h4>Price: {{tea.price / 100 | currency }}</br></h4>
    </div>

    <div class="col-lg-6 text-right">
      <h5> Rating: {{tea.rating}} / 3</h5>
      <p>Inredients: </br> {{tea.ingredients}}</p>
      <p>Caffine Amount: {{tea.caffeineScale}}</p>
      <p><b>Categories:</b>
        <li ng-repeat='category in tea.categories'>{{category}}</li>
      </p>
         <h4>Quantity</h4>
      <select ng-model="teaQty">
        <option value=''>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select> <button ng-click="addToCart(tea.name, teaQty)" type="submit">Add to Bag</button>
  </div>
</div>
</div>
</div>

